<h2>New school curriculum</h2>

<%= render "form.html", changeset: @changeset,
                        action: school_curriculum_path(@conn, :create) %>

<%= link "Back", to: school_curriculum_path(@conn, :index) %>
